//colors

$main-color: #58e1c1;
$secondar-color: #51ddfc;
$font-color: #777;
$font-secondary: #fff;
$info-color: #927bc1;
$success-color: #63cc82;
$warning-color: #fd7856;
$error-color: #e4757a;

//media queries

$desktop: 768px;